<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="language-options" class="wrapper" style="text-align: right; line-height: 2em; padding-bottom: 20px;padding-right: 0px;">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %} 
          <!-- get a long version of the language to display on the post pages -->
          {% if post.lang == 'de' %}
            {% assign full_language='deutsch' %}
          {% elsif post.lang == 'en' %}
            {% assign full_language='english' %}
          {% elsif post.lang == 'it' %}
            {% assign full_language='italiano' %}
	  {% elsif post.lang == 'fr' %}
            {% assign full_language='français' %}
	  {% else %}
            {% assign full_language=post.lang %}
          {% endif %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ full_language }}</a>
          {% endfor %}

          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %} 
          <!-- get a long version of the language to display on the homepage -->
          {% if page.lang == 'de' %}
            {% assign full_language='deutsch' %}
          {% elsif page.lang == 'en' %}
            {% assign full_language='english' %}
          {% elsif page.lang == 'it' %}
            {% assign full_language='italiano' %}
          {% elsif page.lang == 'fr' %}
            {% assign full_language='français' %}
	  {% else %}
            {% assign full_language=page.lang %}
          {% endif %}
          <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ full_language }}</a> 
          {% endfor %}
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
