---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">Tag: {{ page.tag }}</h1>

        <ul>
        {% for post in site.tags[page.tag] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
            {{ post.description }}
          </li>
        {% endfor %}
        </ul>

   </header>

</article>
<hr>

    <script>
        document.getElementById("language-options").innerHTML = "";
    </script>
